.item {
    display: inline-block;
    text-align: center;
    padding-bottom: 30px;
    margin: 40px;
}
img {
    margin-bottom: 30px;
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.love-button {
    text-align: center;
    margin: 10px;
}