#item-container {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
}
img {
    margin: 20px;
    height: 150px;
    width: 150px;
    border-style: solid 1px;
}
.love-button {
    margin: 10px;
}