.item {
    display: inline-block;
    text-align: center;
    margin: 40px;
    background-color: rgb(55, 46, 52);
    border-radius: 10%;
}
img {
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.like-container {
    display: block;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.love-button {
    display: inline-block;
    margin-right: 20px;
    font-size:xx-large;
    border-radius: 50%;
}
.love-button:active {
    color:red;
    
}
.like-num {
    display: inline-block;
}
